@import '../../utils/styles/variables.scss';

.headerContainer {
    width: 100vw;
    background-color: $header-bg;
    height: 56px;

    .logo {
        margin: 6px 20px 0;
        height: 42px;
    }

    .langBtnGroup {
        padding: 6px 20px 0;
        text-align: center;
    }
}